<div class='doc'>

  <%= render 'dev/box' %>

  <p>
    You can link to Parsley like you would any other library.
  </p>

  <p>
    More coming soon.
  </p>

  <p>
    <a href="http://github.com/fizx/parsley">Get Parsley here</a>
  </p>

  <p>
    At the moment there is no C/C++ package for the Parselets.com API (write us one!), but you can use the <%= link_to "REST API", :action => 'api' %>.
  </p>

</div>