<div class='doc'>

  <%= render 'dev/box' %>

  <p>
    Once you <a href="http://github.com/fizx/parsley">install Parsley</a>, you can run it from the command-line:
  </p>
  <pre>
    Usage: parsley [OPTION...] DEX_FILE FILE_TO_PARSE
    Parsley is a parselet parser.

      -i, --include=FILE         Include the contents of FILE in the compiled XSLT
      -o, --output=FILE          Output to FILE instead of standard output
      -x, --input-xml            Use the XML parser (not HTML)
      -X, --output-xml           Output XML (not JSON)
      -?, --help                 Give this help list
          --usage                Give a short usage message
      -V, --version              Print program version

    Mandatory or optional arguments to long options are also mandatory or optional
    for any corresponding short options.
  </pre>

</div>
