<%= render 'dev/box' %>

<h1>Using Parsley and Parselets with Other Languages</h1>

<p>
  You have a number of options:
  <ul>
    <li>You can <%= link_to "use our open API", :action => 'api' %> to find and run parselets on our server for free.</li>
    <li>You can install Parsley and run it <%= link_to "from the command line", :action => 'command_line' %>.</li>
    <li>You can write <a href="http://github.com/fizx/parsley">Parsley</a> bindings for your language, and then share them with us!</li>
  </ul>
</p>
