<li>
	<%=link_to "#{time_ago_in_words comment.created_at} ago", comment, :class => "url", :style => "float:right" %>
	<h5><%=link_to comment.user.login, comment.user %></h5>
	<%= markdown(h(comment.content)) %>
</li>