<div class="padded doc">
  <h2>
    <%=link_to image_tag("/images/create_button.png", :border=>0), new_parselet_url, :style => "float:right"%>
    We didn't find "<%=h params[:q]%>", but ...
  </h2>
  You can totally help us build our community, and our library of parselets!
  
  <h3>How to help:</h3>
  
  <ul>
    <li>Try a couple variations of your search.  If you end up finding what you're looking for, please update the parselet description or comments to include keywords from your original search.</li>
    <li>Build your own parselet.  Using our helpful editor and SelectorGadget, it's easier than you think! Our community will help you maintain it, and because parselets.com runs on open source code, your parselet will be free to use for people around the world!</li>
    <li>If you think this page occurred as a result of a bug, please contact us.</li>
  </ul>
  
  <h3>It's easy to build your own parselet!  Check out our 5-minute screencast.</h3>
  <div style="float:left;padding:190px 280px 190px 280px;background-color:#fff9db;border:1px #ccc solid">screencast</div>
</div>