<li>
  <h3>
    <%=link_to "##{version.version}, #{time_ago_in_words version.created_at} ago", :controller => "parselets", :action => "show", :id => version.parselet, :version => version.version %>
    <span>by 
    <% if version.revision_user %>
      <%=link_to version.revision_user.login, version.revision_user%>
    <% else%>
      Unknown
    <% end %>
    </span>
    <%=version.status%>
    Changes: <%=version.cached_changes%>
  </h3>
</li>