body {
  font-family:sans-serif;
  margin:0;
  background-color:#eee;
  color: #393128;
}

#notice {
  border:1px #ccc solid;
  background-color: #fff9db;
  padding: 7px 12px 7px 12px;
  margin: 0px 12px 15px 12px;
}

.faded {
  color: #CCCCCC;
}

#body {
  position:relative;
  margin: 0 auto 0 auto;
  width: 900px;
}

#body_wrapper {
  background-color: white;
  clear:both;
  float:right;
  width: 100%;
  padding-bottom: 40px;
}

#footer {
	clear:both;
	padding:0px;
}

#footer .nest{
background-color:#eee;
	clear:both;
	padding:5px;
	font-size:small;
	border-top:1px silver solid;
	text-align:center;
}

#right_column {
	border-left:1px silver solid;
	float:right;
	margin-left:15px;
	padding-left:0px;
}

#right_column h3 {
  float: left;
  margin-top: 10px;
  margin-left: 15px;
}

ul#options {
	padding:15px 15px 15px 0;
	clear:both;
}

ul#options li {
	float:left;
	margin-right:30px;
}

#top h3 {
	float:right;
}

form {
  margin:0;
  padding:0;
}

pre {
	overflow:auto;
	margin:0;
}

div {
  margin:0;
  padding:0;
}

.column {
	float:left;
	margin-right:15px;
	margin-left:13px;
	padding-right:15px;
	border-right:1px silver solid;
}

.x {
	position:absolute;
	left: 189px;
	font-family: sans-serif;
	text-decoration:none;
	color:#000;
}

ul.menu {
	position:absolute;
	width:200px;
	border:1px silver solid;
	border-bottom:0px;
	background-color:#eee;
	margin:0;
	padding:0;
	list-style:none;
	z-index:20;
}

.ratings {
  display:block ;
  float:right;
  padding-bottom:5px;
}

.ratings .cancel {
  display:none;
}

form#search {
  float: right;
  width: auto;
  margin-top: 2px;
  margin-right: 28px;
}

form#search input[type=text] {
  font-size: 16px;
  color: #666;
  padding: 3px 35px 3px 5px;
  background: #F5F5F5 url(/images/header/search_bg.jpg) repeat-x top right;
  border: 1px solid #FFF;
}

form#search input[type=submit] {
  display: none;
}

form#search #box{
	width: 250px;
}

a.selected {
	color:black;
	text-decoration:none;
}

ul.menu li {
	margin:0;
	list-style:none;
	border-bottom:1px silver solid;
}

ul.menu li a {
	display:block;
	padding:3px;
	text-decoration: none;
}

ul.menu li a:hover {
	background-color: #fff;
}

div.tab{
  float:left;
  background-color:white;
  padding: 3px 10px 3px 10px;
  margin:0 15px 0 0;
  position:relative;
  top:5px;
}

div.untab{
  float:left;
  padding: 3px 10px 3px 10px;
  margin:0 15px 0 0;
  position:relative;
  top:5px;
}

#code_container div {
  margin: 2px 0 2px 0;
}

textarea {
  height:100px;
}

blockquote {
  margin: 0 0 0 15px;
  padding:0;
}

input.key, input.key-auto {
  width: 100px;
	font-family: monospace;
}

input.value {
	width:350px;
	font-family: monospace;
}

.subtle {
  color: #ccc;
}

.thumb {
  width: 80px;
  float:left;
  margin-right:5px;
  clear: left;
}

td.info{ 
  padding-top: 20px;
  font-size: small;
  width: 100%;
}

ul, ol, li {
	padding: 0;
	margin: 0;
	list-style: none;
}


.fieldWithErrors {
	margin:0;
	padding:0;
	display: inline;
}

#code_container textarea{
	width:100%;
	height:300px;
}

.mini h4, .mini li {
  font-weight:normal;
  font-size:small;
  display:inline;
  margin:0;
  padding:0;
}

.mini>li {
	display:block !important;
}

.mini {
  margin-bottom:10px;
}

p{
  font-size:small;
}

#nav{
  margin-top: 85px;
}
#cheat
{
  clear:both;
}
#nav li {
  float: left;
  height: 35px;
  width: 116px;
  margin-left: 18px;
  border-bottom: 1px solid #000;
  background: url(/images/header/tabs.png) no-repeat top left;
  line-height: 38px;
  position: relative;
  top: 0px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
}

#nav li.selected {
  border-bottom: 1px solid #FFF;
}

#nav li:first-child {
  margin-left: 28px;
}

#nav li img {
  margin-left: 5px;
}

#nav li a {
  color: #999;
  text-decoration: none;
}

#nav li a:hover {
  color: #8FC100;
}

.mini p, .mini .status, .mini .domain, .mini .thumb {
  display:none;
}

.count {
	color:grey;
	font-size:small;
}

ol a.comments_link{
	display: block;
	float:right;
  clear:right;
}

.boxes {
/*  width:550px;*/
	float:left;
	padding-right:15px;
}

.boxes>li {
	width:100%;
	margin: 0 0 15px 0;
}

.boxes h5 {
	display:block;
	clear:both;
  float:right;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.boxes>li>ol {
padding:5px 15px 5px 15px;
}

th.buttons{
  text-align:right;
	border-bottom: 4px #999 solid;
}

p {
  margin: 0 0 10px 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.right_shift{
	position:relative;
	left:-13px;
}

h1 {
	font-size:1.5em;
}
a {
	color: #528DC0;
}

a.url {
	color: #528DC0;
	font-size:small;
}

ol>li {
	padding-bottom:8px;
	clear:both !important;
	float:left;
	width:100%;
}

ol.results>li {
	width:100%;
	float:left;
	clear:both;
	padding: 15px 0px;
  border-bottom: 1px solid silver;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  cursor: pointer;
}

h3.with_tabs {
	margin-top:30px;
	margin-bottom:-30px
}

ol.results.frontpage>li {
  border-left: 0px;
}

a.extra {
  color: #528DC0;
}

ol.results>li:hover {
  background-color: #EEF4F9;
  border-left: 1px solid silver;
  border-right: 1px solid silver;
  border-top: 1px solid silver;
  position: relative;
  top: -1px;
  margin-bottom: -1px;
}

ol.results.frontpage>li:hover {
  background-color: #EEF4F9;
  border-left: 0px solid silver;
  border-right: 1px solid silver;
  border-top: 1px solid silver;
  position: relative;
  top: -1px;
  margin-bottom: -1px;
}

ol.results>li>div {
	margin: 0px 15px;
	color: #999;
}

a.result_title, a.result_title:visited {
	color: #393128;
	text-decoration:none;
}
a.result_title:hover {
	text-decoration:underline;  
}

.result_body {
  float: left;
  margin-left: 15px;
  width:500px;
  color:#999;
}

#right_column .result_body {
  width:auto;
}

.result_right {
  float: right;
}

.results>li>div h4 {
  font-size: 1.2em;
  color: #3A3129;
}

.paginate {
  float: left;
  margin: 15px 15px;
}

div.desc {
	clear:both;
	font-size:smaller;
	padding: 15px 0 0 0;
}

.small {
	font-size: small;
}

#user-nav {
  float: right;
  display: block;
  margin-right: 28px;
  font-size: 0.8em;
}

#user-nav div {
  position: relative;
  color: #999;
  top: 5px;
  display: inline;
  background-color: #4E453E;
  padding: 5px 8px;
}

#user-nav a {
  color: #528DC0;
}

#header {
  overflow: hidden;
  background: #26201A url(/images/header/banner_bg.jpg) repeat-x top left;
  xborder-bottom: 1px #000 solid;
}

#header > .content {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
}

a#logo {
  float: left;
  height: 47px;
  width: 211px;
  margin-left: 28px;
  display: block;
  background: url(/images/header/logo.png) no-repeat top left;
  text-indent: -9999em;
}

#main {
  padding: 15px;
}

#blurb p {
	font-size:1em;
	margin-left: 12px;
}

.shift {
  margin-left: 12px;
}

.doc {
  color: #666;
}

.doc p {
  line-height: 1.4em;
}

.doc ul, .doc ol, .doc li {
  list-style: square outside none;
}

.doc a {
  color: #1E6CB2;
}

.doc a:hover {
  text-decoration: underline;
}
.doc h1, .doc h2, .doc h3, .doc h4, .doc h5, .doc h6 {
  margin: 10px 0px 8px 0px;
}
.doc li {
  margin-left: 20px;
  font-size: 0.9em;
  margin-bottom: 5px;
}

.doc h1 {
  color: #000;
}

.doc h2 {
  color: #3a3129;
}

.doc h3 {
  color: #000;
}

.doc .show_code {
  width: 625px;
  font-size:0.9em;
}

.doc .show_code span.block {
  margin-bottom: 5px;
}

.doc_box {
  position: relative;
  left:-2px;
  width: 200px;
  float: right;
  margin: 0px 10px 10px 10px;
  padding: 7px 5px 4px 5px;
  border: 1px solid silver;
  z-index:10;
}

.save_button {
  float: right;
  height: 24px;
  width: 63px !important;
  display: block;
  margin-left: 20px;
  margin-top: 20px;
}
.section{
  float:left;
  clear:both;
  width:900px;
}
.section h3{
  margin-top: 20px;
}
.section_body{
  background-color: #F2F2F2;
  padding:0px 20px 20px 20px;
  margin:0px;
  float:left;
  width:805px;
}
.section_row{
  float:left;
  clear:both;
  width:805px;
}
.section_row label{
  clear:both;
  display:block;
  float:left;
  margin-top:20px;
  font-weight:bold;
  font-size:0.9em;
}
.section_row input.text, .section_row textarea{
  float:left;
  clear:left;
  width: 300px;
}
.section_info{
  font-size:0.7em;
  float:left;
  margin-left: 50px;
  margin-top: 5px;
  width:400px;
}

/* Code editing */

.code {
  background-color: #FFF9DB;
  border: 1px solid #dddddd;
  padding:0px 20px 20px 20px;
  margin:0px;
  float:left;
  width:805px;
}

.code_window {
  margin-top:20px;
  width:805px;
  height:200px;
}

.code_tabs {
  margin-right: 53px;
}

.code_tabs li {
  float: right;
  height: 36px;
  width: 102px;
  background: url(/images/code/tab_left.png) no-repeat top left;
  line-height: 38px;
  position: relative;
  top: 0px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  text-align: center;
  z-index: 10;
  position: relative;
  top: 1px;
  border-bottom: 1px solid #dddddd;
	cursor: pointer;
  margin-left: 8px;
}

.code_tabs li.selected {
  background: url(/images/code/tab_left_selected.png) no-repeat top left;
  border-bottom: 1px solid #FFF9DB;
}

.code_tabs li a {
  color: #999;
  text-decoration: none;
}

.code_tabs li.selected a {
  color: #000;
  text-decoration: none;
}

.code_tabs li a:hover {
  color: #8FC100;
}

#result_loading_img {
  position: relative;
  top: 2px;
  display: none;
  left: 7px;
}

#code_controls {
  float: right;
  position: relative;
  top: 11px;
}

#code_controls .disabled {
  color: #999999;
  cursor: default;
  text-decoration: none;
}

.code .hash {
  float: left;
  clear: both;
  margin-left: 20px;
}
.code .hash div, .code .hash input {
  float: left;
}
.code .row {
  clear: both;
  margin-top: 5px;
}
.code .key > input {
  width: 125px;
}
.code .value > input {
  width: 250px;
}
.code .multilined {
  clear: both;
  margin-top: 5px;
}
.code .colon {
  margin: 0px 7px;
  font-weight: bold;
}
.code .bracket {
  margin: 0px 5px;
}
.code .curly_bracket_rt {
  clear: right;
}
.code .curly_bracket_lt {
  clear: left;
}
.menu_placeholder {
  width: 12px;
}
.code .new_row {
  color: #999;
}
.code .array_result, .code .value_result {
  color: #999;
  font-size: 0.8em;
  max-width: 275px;
  margin-left: 15px;
  float: right;
  text-indent: -10px;
  position: relative;
  top: 4px;
}

.cover {
  z-index: 15;
  position: absolute;
  top:0px;
  left:0px;
}
.code_menu_button {
  text-decoration: none;
	font-size: small;
	margin: 0px 6px 0px 0px;
	position: relative;
	top: 4px;
}

#code_errors {
  margin: 20px 10px 10px 10px;
  padding: 10px;
  background-color: #8ab40b;
  width: 663px;
  display: none;
  float: left;
  clear: both;
}
#code_errors .error {
  color: #FFF;
}

.rt_gravatar {
  width:25px;
  margin-left:5px;
}

.show_page {
  clear:both;
  width: 844px;
  float: left;
}
.show_page .heading {
  height: 35px;
  width: 415px;
}
.show_page div.usage {
  float: right;
  position: relative;
  margin-right: 10px;
  top: 18px;
}
.show_page .heading h5 {
  position: relative;
  top: 6px;
}
.show_page .left {
  float: left;
  width: 415px;
  clear: left;
  margin-top: 20px;
}
.show_page .right {
  float: left;
  width: 415px;
  margin-left: 10px;
  margin-top: 20px;
  clear: right;
}
.show_page .heading h5, .show_page .heading input, .show_page .heading form {
  float: left;
}
.show_page h2 {
  margin-bottom: 10px;
}
.heading h3 {
  font-size: 1.5em;
}
.show_page img.edit {
  position:relative;
  top:5px;
}
.show_page .parselet {
  border:1px silver solid;
  background-color:#EEF4F9;
  width: 416px;
  clear: both;
}
.show_page .parselet pre {
  display:block;
  height:300px;
  overflow:auto;
}
.show_page .parselet pre div {
  padding: 10px;
}
.show_page .text {
  width:200px;
  margin: 0px 10px;
}

.ago {
  float: right;
  font-size:small;
  color: #999;
}

/* Visual Diffs */

.v {
	margin-bottom: 15px;
	font-size: 0.9em;
}
.v .by {
  font-size: 0.9em;
}
.version {
	float:left !important;
	border:1px silver solid !important;
	background-color:#EEF4F9 !important;
	width:30px !important;
	text-align:center !important;
	margin-right:10px !important;
	font-size: 1.5em;
	font-weight: bold;
	padding:7px;
  cursor: pointer;
  color: #000;
}
.version:hover {
  text-decoration: none;
}
.version div {
  position: relative;
  top: 2px;
  float: none;
  margin: 0px auto;
}
.vdiff {
	border: 1px #ccc solid;
	width:356px;
	overflow:auto;
	display: none;
	margin-top:10px;
}
.vdiff pre {
  padding:10px;
}
#version_text {
  font-size: 1.1em;
}
#version_text a {
  color: #999;
}

/* Favorites */

.favorited, .not_favorited {
  color: #999;
}
.favorited a, .not_favorited a{
  color: #999;
}

.result_right .favorited, .result_right .not_favorited {
  float: right;
  clear: right;
}