body {
  font-family:sans-serif;
  margin:0;
}

div {
  margin:0;
  padding:0;
}

div.tab{
  float:left;
  background-color:white;
  padding: 3px 10px 3px 10px;
  margin:0 15px 0 0;
  position:relative;
  top:5px;
}

div.untab{
  float:left;
  padding: 3px 10px 3px 10px;
  margin:0 15px 0 0;
  position:relative;
  top:5px;
}

#code_container div {
  margin: 2px 0 2px 0;
}

textarea {
  height:100px;
}

blockquote {
  margin: 0 0 0 15px;
  padding:0;
}

input.key {
  width: 100px;
}

.subtle {
  color: #999;
}

table {
  width:750px;
  border: 1px #eee solid;
  margin-top:15px;
}
  
td {
  vertical-align: top;
  padding: 5px 0px 15px 15px;
}

td.info{ 
  padding-top: 20px;
  font-size: small;
  width: 100%;
}

th {
  padding:5px 15px 5px 15px;
  background-color: #eee;
  text-align:left;
}

th.buttons{
  text-align:right;
}

p {
  margin: 0 0 10px 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

#user-nav {
  float:right;
  display: inline;
  font-size:small;
}

#user-nav div {
  display: inline;
}

#header {
  padding:7px 15px 7px 15px;
  background-color:#eee;
  border-bottom:1px silver solid;
}

#notice {
  padding:7px 15px 7px 15px;
  background-color:#ffc;
}

#logo a{
  font-weight:bold;
  color:black;
  text-decoration:none;
}
#main {
  padding:15px;
}