<% result_item parselets_path(:user => user.key) do %>
  <%= link_to gravatar(user.email), user %>
	<div class="result_body">
		<h4><%= link_to user.login, user, :class => 'result_title' %></h4>
		<p>member for <%=time_ago_in_words user.created_at %></p>
	</div>
<% end %>
