<div class="shift">
  Parselets.com is an experimental research project.  If you have any suggestions, questions, or concerns, please contact us by email at: <strong><script>document.write("parselets"); document.write("@"); var a = 5; var b = "noise";</script>gmail.com</strong>
</div>
