<% result_item(:controller => "search", :q => domain.name, :classes => "Parselet") do %>
  <%= thumb domain %>
	<div class="result_body">
		<h4><%=link_to domain.name, { :controller => "search", :q => domain.name, :classes => "Parselet" }, :class => 'result_title stop_prop' %>
		<small>(
		<%= "#{domain.parselets.count} parselets" %>
		)</small>
		</h4>
	</div>
<% end %>
