<li class="domain">
  <%= thumb domain %>
	<div>
	  <a href="<%=url_for({ :controller => "search", :q => domain.name, :classes => "Parselet" } )%>">
		<h4><%=domain.name %>
		<small>(
		<%= "#{domain.parselets_count} parselets" %>
		)</small>
		</h4>
		</a>
	</div>
</li>
