<li>
  <%=thumb domain%>
	<h4><%=link_to domain.name, "http://#{domain.name}" %> 
	<small>(
	<%=link_to "#{domain.parselets.count} parselets", parselets_path(:domain => domain.key)%>
	)</small>
	</h4>
	<ol class="mini">
		<%=render domain.parselets.first(3) %>
	</ol>
</li>