<div class='section'>
  <h3>&nbsp;</h3>
  <div class='section_body'>
      <div class='save_button'>
        <%= link_to image_tag('cancel_button.jpg', :alt => 'Cancel', :title => 'Cancel', :border => 0), :back %>
      </div>
      <div class='save_button'>
        <%= image_submit_tag 'save_button.jpg' %>
      </div>
  </div>
</div>
