<% edit ||= false %>
<% data ||= {} %>
<% path ||= "root"%>
<% root = !(path =~ /\[/ ) %>
<% add_key ||= emptyish(data) || data.values.none?(&:blank?)%>
<% add_key &&= edit %>

<tt>
{
  <blockquote>
    <% data.each_with_index do |(key, value), i|%>
      <% next if key.blank? && value.blank? %>
      <div>
		    <%=key_field path, i, key, value, edit %>:
        <%=value_field path, i, value, edit %>
      </div>  
    <% end%>
    <% if add_key %><div><%=key_field path, data.length %>: &larr; add a key</div><% end %>
  </blockquote> 
}
</tt>