<li class="result">
	<h4><%=link_to h(parselet.name), parselet %> 
	  <span class="status">[ <%=parselet.status %> ]</span>
	</h4>
	<h6 class="domain"><%=link_to truncate(parselet.example_url, 40), parselet.example_url%></h6>
	<p><%=h parselet.description %>
</li>