<div class='shift'>
  <h1><span class='faded'>Editing</span> <%=@parselet.name%></h1>

  <%= render :partial => '/parselets/form' %>

  <div class='section'>
    <h3>&nbsp;</h3>
    <%= link_to 'Show', @parselet %> |
    <%= link_to 'All Parselets', parselets_path %>
  </div>
</div>
