<div class='bar'>
  <%=link_to image_tag("/images/create_button.png", :border=>0), new_parselet_url%>
</div>

<ol class="results"><%=render @parselets %></ol>

<div class="paginate">
  <%=will_paginate(@parselets) || "page 1 of 1" %>
</div>
