        </div>
      </div>
    </div>
    <div id="footer">
    	<div class="nest">
    	  <% if admin? %>
        	admin: <%=link_to_unless_current "Sprigs", sprigs_url %> <%=link_to icon("plus_small", "create sprig"), new_sprig_url %> -
        <% end %>
			  
    		&copy; 2009, Kyle Maxwell &amp; Andrew Cantino
    	</div>
    </div>
		<script type="text/javascript">
		var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
		document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
		</script>
		<script type="text/javascript">
		UserVoice.Tab.show({ 
		key: 'parselets',
		host: 'parselets.uservoice.com', 
		forum: 'general', 
		alignment: 'left', /* 'left', 'right' */
		background_color:'#f00', 
		text_color: 'white', /* 'white', 'black' */
		hover_color: '#06C',
		lang: 'en' /* 'en', 'de', 'nl', 'es', 'fr' */
		})
		</script>
  </body>
</html>
