        </div>
      </div>
    </div>
    <div id="footer">
    	<div class="nest">
    	  <div class="links">
    	    <a href="http://groups.google.com/group/parselets">Google Groups</a>
          <a href="http://parselets.wordpress.com">Blog</a>
          <a href="http://parselets.uservoice.com">UserVoice</a>
          <a href="http://twitter.com/parselets">@parselets on Twitter</a>
          <%= link_to "Email", :controller => "home", :action => 'email' %>
        </div>
    	  <div class="misc">Talk to us &rarr;</div>
        <div class="copyright">&copy; 2009, Kyle Maxwell &amp; Andrew Cantino - <a href="http://www.thumbshots.com" target="_blank" title="Thumbnails powered by Thumbshots">Thumbnails powered by Thumbshots</a>
        </div>
    	</div>
    </div>
		<script type="text/javascript">
		var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
		document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
		</script>
		<script type="text/javascript">
		UserVoice.Tab.show({ 
		key: 'parselets',
		host: 'parselets.uservoice.com', 
		forum: 'general', 
		alignment: 'left', /* 'left', 'right' */
		background_color:'#548FC2', 
		text_color: 'white', /* 'white', 'black' */
		hover_color: '#1E6DB3',
		lang: 'en' /* 'en', 'de', 'nl', 'es', 'fr' */
		})
		</script>
		<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8104862-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>
